@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Montserrat:ital@1&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0px;
	background-color: #E7FBBE;
}

h1, h2, h3{
	font-family: 'Inknut Antiqua', sans-serif;
	font-size: 22px;
	font-weight: bold;
}
a {
	text-decoration: none;
}

